<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Edit <%=users.name%>'s Profile</h1>

      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/users">User Index</a>
          </li>
        </ul>
      </nav>
    </header>
      <main>
        <h2>Edit Profile</h2>

     <main>
        <form action="/users/<%=users.id%>?_method=PUT" method="POST">

            <label for="">Name</label>
            <br />
            <input type="text" name="name" value="<%=users.name%>"/><br />

            <label for="">Upload Profile Pic</label>
            <br />
            <input type="text" name="profilePic" value="<%=users.profilePic%>"/><br />

            <label for="">Hometown</label>
            <br />
            <input type="text" name="hometown" value="<%=users.hometown%>"/><br />

            <label for="">Age</label></br>
            <input type="number" name="age" value="<%=users.age%>"/><br />

            <label for="">What Kind of car do you drive?</label>
            <br />
            <input type="text" name="carModel" value="<%=users.carModel%>"/><br />

            <label for="">Do you travel with pets?</label>
            <br />
            <input type="radio" name="petCheck" value="<%=users.petCheck%>"/>Yes<br />
            <input type="radio" name="petCheck" value="<%=users.petCheck%>"/>No<br />

            <label for="">Favorite Hobby</label>
            <br />
            <input type="text" name="hobby" value="<%=users.hobby%>"/><br />


            <input type="submit" value="Edit User" /></br>
        </form>
      </main>
  </body>
</html>
