<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/css?family=BioRhyme%7CRaleway" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/style.css">
  <title></title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/users">User Index</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <h1><%=users.name%></h1>

    <section>
      <img src="<%=users.profilePic%>"/></br>

      Hometown:
      <%=users.hometown%></br>

      Age:
      <%=users.age%></br>


      Vehicle:
      <%=users.carModel%></br>
      <%=users.petCheckYes%></br>

      Favorite Hobby:
      <%=users.hobby%></br>

      <h2>Trips:</h2></br>

      <ul>
        <li>
          <% for (let i=0; i < trips.length; i++) { %>

          <a href="/trip/<%=trips[i].id%>"><%=trips[i].name%></a>

          <% } %>
        </li>
      </ul>




    </section>
    </br>
    <section>
      <a href="/users/<%=users.id%>/edit">Edit</a>
    </section>
    <section>
      <form action="/users/<%=users._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete User"/>
          </form>
    </section>
  </main>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</body>

</html>
