<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/users">User Index</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <h1><%=users.name%></h1>

    <section>
    <img src="<%=users.profilePic%>"/></br>

      Hometown:   <%=users.hometown%></br>

      Age:   <%=users.age%></br>


      Vehicle:   <%=users.carModel%></br>
      <%=users.petCheckYes%></br>

      Favorite Hobby: <%=users.hobby%></br>

      <h2>Trips:</h2></br>

    </section>
    <section>
      <a href="/users/<%=users.id%>/edit">Edit</a>
    </section>
    <section>
      <form action="/users/<%=users._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete User"/>
          </form>
    </section>
  </main>
</body>

</html>
