




<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Show page for <%= trip.name %></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/trip">Trip Index</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h2>Trip Details:</h2>
      <ul>
        <li>Name: <%= trip.name %></li></br>
        <li>Starting Point: <%= trip.cityStart %></li></br>
        <li>Ending Point: <%= trip.cityEnd %></li></br>
        <li>What Kind of Trip is This? </br> <%= trip.tripReason %></li></br>
        <li>Why are You Taking This Trip? </br> <%= trip.extraDetails %></li></br>
      </ul>
    </section>
    <section>
          <a href="/trip/<%=trip.id%>/edit">Edit</a>
      </section>

    <section>
      <form action="/trip/<%=trip.id%>?_method=DELETE" method="POST" >
        <input type="submit" value="Delete Trip">
      </form>
    </section>

  </main>
</body>
</html>
